.preview {
    width:20px;
}

.select {
    width:30%;
    margin:50px auto;
    border-style: solid;
    border-radius: 2px;
    border-color: lightseagreen;
    padding:30px 10px;
}

.selectButton {
    margin: 10px 10px;
    width:100%;
}

.uploadButton {
    width:200px;
    height: 50px;
    margin-top: 10px;
    border-radius: 5px;
    color: white;
    background-color: teal;
    border-style: none;
}